* {
    /* border: 1px solid red; */
}

.navbar .container {
    max-width: 100%;
}

.fa-brands {
    color: white;
    font-size: 2.5rem;
}

.fa-bars {
    font-size: 1.5rem;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler {
    color: white;
    border-color: rgba(255,255,255,.5);
}

.navbar-toggler:focus, .navbar-toggler:hover {
    box-shadow: 0 0 0 0.2rem;
}

.nav-item {
    text-align: right;
}

.background-container {
    position: fixed;
    z-index: -1;
    top: 0;
}

.background-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 0 35%;
    /* opacity: 0.9; */
    filter: brightness(0.5);
}

#about {
    margin-top: 64px;
    height: 100vh;
}

.gallery-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 40px;
    margin-left: 20%;
}

.gallery-img-container {
    width: 400px;
}

.gallery-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.mt-6 {
    margin-top: 4rem;
}

.mb-6 {
    margin-bottom: 4rem;
}

.rounded-lg {
    border-radius: 10px;
}

.map-embed {
    border: 0;
    max-width: 100% !important;
}

/* START === Custom scrollbar for gallery */
.overflow-auto::-webkit-scrollbar {
    width: 20px;
}

.overflow-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* END === Custom scrollbar for gallery */

@media only screen and (min-width: 992px) {
    .nav-item {
        text-align: left;
    }
}